.wd-icon-size {
font-size: 0.5em;
height: 16px;
width: 16px;
}

.wd-gear-icon {
color:rgb(29, 155, 240);
    font-size: 1.5em;
    padding-left: 30px;
    padding-right: 12px;
}

.wd-left {
left:10px;
}

.wd-search-icon {
bottom: 7px;
left:10px;
}

.wd-image {
height:48px;
width:48px;
border-radius: 50px
}

.wd-text-highlight {
    background-color: rgb(29,161,242);
    max-width: 47px;
    height: 4px;
    align-self: center;
    position: relative;
    top: 16px;
    border-radius: 50px;
}
.wd-full-width {
    width: 100%;
}
.wd-padding-all-round {
    padding: 16px;
}
.wd-search-box {
    border-radius: 50px;
    border-width: 0;
    padding: 5px 10px;
    background-color: rgb(47, 51, 54);
}
input {
    color: white;
}
::placeholder {
    color: white;
    opacity: 0.5;
}
.wd-icon-gear {
    color:rgb(29, 155, 240);
    font-size: 1.5em;
    padding-left: 30px;
    padding-right: 12px;
}
.wd-no-text-decoration {
    color: rgb(110, 118, 125);
    text-decoration: none;
}

.wd-link-selected {
    color: rgb(29,161,242);
}
.wd-item-topic {
    color: rgb( 110, 118, 125);
    font-size: 13px;
    padding-bottom: 5px;
}
.wd-item-tuits {
    padding-bottom: 5px;
    color: rgb( 110, 118, 125);
    font-size: 13px;

}
.wd-item-title {
    font-size: 15px;
    padding-bottom: 5px;
    color: white;

}
.wd-item-author {
    color: white;
}


