.wd-section-break {
    padding-bottom: 12px;
}
.wd-padding-left {
    padding-left: 12px;
}
.wd-content {
    max-width: 506px;
    padding-right: 16px;
    padding-bottom: 12px;
}

.wd-image-fit {
    width: 504px;
    height: 264px;
}

.wd-icon-gray {
color: gray;
}
.wd-fit-max-content {
    max-width: 506px;
}
.wd-font-bold {
    font-weight: 700;
}
.wd-padding-all-round {
    padding: 12px;
}
.gg-comment {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(20,1);
    width: 20px;
    height: 16px;
    border: 2px solid;
    border-bottom: 0;
    box-shadow:
            -6px 8px 0 -6px,
            6px 8px 0 -6px
}

.wd-no-text-decoration {
    color: rgb(110, 118, 125);
    text-decoration: none;
}
.wd-text-red {
color: red;
}

.wd-comment-flex-align {
align-items: center
}